<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HacktiGo</title>
</head>
<body>
  <a>HacktiGo</a>
  <a href="">Profile</a>
  <a href="">Logout</a>
  <h1>Welcome to HacktiGo!</h1>
</body>
</html>