<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Restaurant</title>
</head>
<body>
  <h1>Login Restaurant</h1>
  <p style="color: red;"><%=failedLogin%></p>
  <form action="/home/loginRestaurant" method="POST">
    Username:
    <input type="text" name="username"><br>
    Password:
    <input type="password" name="password"><br>
    <input type="submit">
  </form>
</body>
</html>